#root,
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.about {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
}

.about-heading{
  /* color: #5da8f3; */
  /* background: linear-gradient(to right, #30CFD0 0%, #5da8f3 100%); */
  background: rgb(160,0,252);
  background: linear-gradient(90deg, rgba(160,0,252,1) 10%, rgba(37,169,207,1) 39%, rgba(0,108,255,0.981127485173757) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  padding-top: 0.5rem;
 

}

.about-text {
  color: white;
  padding-left: 5.8rem;
  padding-right: 6.7rem;
  font-size: 1.3rem;
  text-align:justify;
  justify-content: center;
  /* background-color: #1976D2; */
}

.logo {
  height: 4rem;
  width: 3.5rem;
  margin-right: 1rem;
}
