#root,
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.about {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
}

.about-heading{
  color: #5da8f3;
  padding-top: 0.5rem;
 

}

.about-text {
  color: white;
  /* background-color: #1976D2; */
}

.logo {
  height: 4rem;
  width: 3.5rem;
  margin-right: 1rem;
}
